<app-header></app-header>
<div class="wrapper">
  <div class="section">
  <div class="container">
    <ul class="alert alert-danger" *ngIf="errores?.length > 0">
      <li *ngFor="let err of errores">
          {{ err }}
      </li>
  </ul>
  <div class="card border-primary mb-3">
    <div class="card-body text-primary">
      <h5 class="card-title">Crear cliente</h5>
          <form #clienteForm="ngForm">
              <div class="form-group row">
                  <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                  <div class="col-sm-6">
                    <div class="input-group no-border input-lg">
                      <input [(ngModel)]="cliente.nombre" type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre" #nombre="ngModel" autofocus required>
                    </div>
                      <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                          <div *ngIf="nombre.errors.required">
                              Nombre es requerido
                          </div>
                          <div *ngIf="nombre.errors.minlength">
                              Nombre debe tener al menos 4 caracteres
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="ruc" class="col-form-label col-sm-2">RUC</label>
                  <div class="col-sm-6">
                    <div class="input-group no-border input-lg">
                      <input [(ngModel)]="cliente.ruc" type="text" class="form-control" name="ruc" id="ruc" #ruc="ngModel" placeholder="RUC" autofocus required>
                    </div>
                      <div class="alert alert-danger" *ngIf="ruc.invalid && (ruc.dirty || ruc.touched)">
                          <div *ngIf="ruc.errors.required">
                              RUC es requerido
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="email" class="col-form-label col-sm-2">Direccion Fiscal</label>
                  <div class="col-sm-6">
                    <div class="input-group no-border input-lg">
                      <input [(ngModel)]="cliente.direccionFiscal" type="text" class="form-control" name="direccionFiscal" id="direccionFiscal" #direccionFiscal="ngModel" placeholder="Direccion Fiscal" autofocus required>
                    </div>
                      <div class="alert alert-danger" *ngIf="direccionFiscal.invalid && (direccionFiscal.dirty || direccionFiscal.touched)">
                          <div *ngIf="direccionFiscal.errors.required">
                              Email es requerido
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <label for="email" class="col-form-label col-sm-2">Email</label>
                  <div class="col-sm-6">
                    <div class="input-group no-border input-lg">
                      <input [(ngModel)]="cliente.email" type="text" class="form-control" name="email" id="email" #email="ngModel" placeholder="Email" autofocus required>
                    </div>
                      <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                          <div *ngIf="email.errors.required">
                              Email es requerido
                          </div>
                          <div *ngIf="email.errors.email">
                              Email debe tener un formato válido
                          </div>
                      </div>
                  </div>
              </div>
              <div class="form-group row">
                  <div class="col-sm-6">
                      <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>
                      <ng-template #elseBlock>
                          <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
                      </ng-template>
                  </div>
              </div>
          </form>
      </div>
  </div>
  </div>
</div>
</div>
